.user-info__button_type_popup-card-open {
  position: absolute;
  top: 16px;
  right: 0;
}

@media screen and (max-width: 980px) {
  .user-info__button_type_popup-card-open {
    position: static;
    margin-bottom: 40px;
  }
}